.upcom {
    width: 1200px;
}

.Fundheadertitle {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 30px 0;
}

.upcomTitleleft {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 35px;
}

.fundheaderright {
    display: flex;
}

.fundBtnleft {
    margin-top: 10px;
}

.fundBtnText {
    font-size: 12px;
    color: #e5ce4c;
    margin-top: 10px;
}

.UpCards {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 50px 0;
    cursor: pointer;
}

.fundBtnNum {
    color: white;
    text-align: right;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 800;
}

.uniqBtnText {
    font-size: 12px;
    color: #21b3bd;
    margin-top: 10px;
}

.raisedBtnText {
    color: #4351c3;
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
}

.viewallprojects {
    color: white;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a1abb9;
    margin-bottom: 100px;
    cursor: pointer;
    transition: all 0.3s;
}

.viewallprojects:hover {
    background-color: #303136;
}

.viewallprojectsout {
    display: flex;
    justify-content: center;
}

.upcardsubtitle {
    color: #a1abb9;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

.fundtotalraise {
    width: 350px;
    margin: 40px 0 0 10px;
    height: 30px;
    display: flex;
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.upcardlineleft {
    width: 230px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 10px;
}

.upcardlineright {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.fundtitle {
    color: white;
    font-weight: 800;
    font-size: 30px;
    margin: 60px 0 0 20px;
}

.upcardcircle {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: darkcyan;
    margin-left: 10px;
}

.cardimg {
    border: 1px solid #a1abb9;
    width: 380px;
    height: 230px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.upcardlogo {
    border: 5px solid #202124;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    top: 170px;
    left: 20px;
    background-color: #303136;
}

.upcardcircleletter {
    color: #202124;
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
}

.Upcard {
    width: 380px;
    height: 450px;
    position: relative;
    border: 1px solid #a1abb9;
    border-radius: 20px;
    overflow: hidden;
    background-color: #171b26;
    transition: all 0.3s;
}

.upcardBtn {
    display: flex;
    border: 1px solid #a1abb9;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: white;
}

/* responsive */
@media screen and (max-width: 1220px) {
    .FundOut {
        width: 95% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .Upcard {
        margin: 10px 0 !important;
    }

    .UpCards {
        flex-direction: column !important;
        align-items: center !important;
        width: 95% !important;
    }
}

@media screen and (max-width: 1000px) {
    .Fundheadertitle {
        flex-direction: column !important;
        align-items: center !important;
    }

    .upcomTitleleft {
        margin-bottom: 30px !important;
    }
}

@media screen and (max-width: 660px) {
    .fundheaderright {
        flex-direction: column !important;
    }
}